<div id="K1_u2_gif" block-ui="main" class="appView animated"><div id="HtmlContent2" ng-class="HtmlContent2.Class" ng-hide="HtmlContent2.Hidden" title="{{HtmlContent2.Title}}" tooltip-placement="{{HtmlContent2.TooltipPos}}" uib-tooltip="{{HtmlContent2.TooltipText}}" popover-trigger="{{HtmlContent2.PopoverEvent}}" popover-placement="{{HtmlContent2.PopoverPos}}" popover-title="{{HtmlContent2.PopoverTitle}}" uib-popover="{{HtmlContent2.PopoverText}}" ng-click="HtmlContent2Click($event)">
<hr/>
<p style="text-align:center">点击该图片开始</p>
<img src="image/colors.gif" height="200px" width="100%"/>
<hr/></div></div>
