<div id="K1_u1_gif" block-ui="main" class="appView animated"><div id="lettergif" ng-class="lettergif.Class" ng-hide="lettergif.Hidden" title="{{lettergif.Title}}" tooltip-placement="{{lettergif.TooltipPos}}" uib-tooltip="{{lettergif.TooltipText}}" popover-trigger="{{lettergif.PopoverEvent}}" popover-placement="{{lettergif.PopoverPos}}" popover-title="{{lettergif.PopoverTitle}}" uib-popover="{{lettergif.PopoverText}}" ng-click="lettergifClick($event)">
<hr/>
<p style="text-align:center">点击该图片开始</p>
<img src="image/letters.gif" height="200px" width="100%"/>
<hr/></div></div>
